.brackets {
  position: relative;
  width: 1600px;
  height: 1167px;
  background: #fff url('brackets_1600.png') top left no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  .title {
    position: absolute;
    width: 1200px;
    height: 66px;
    top: 10px;
    left: 220px;
    background-color: #000014;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 66px;
    font-size: 48px;
    text-align: center;
  }

  .shims {
    .shim {
      position: absolute;

      &.date_cover {
        top: 102px;
        left: 100px;
        width: 1400px;
        height: 20px;
        background-color: white;
      }

      &.ff_date_cover {
        top: 168px;
        width: 80px;
        height: 20px;
        left: 758px;
        background-color: #ddd;
      }

      &.championship_date_cover {
        top: 630px;
        width: 80px;
        height: 20px;
        left: 758px;
        background-color: white;
      }
    }
  }

  .team {
    position: relative;
    height: 18px;
    white-space: nowrap;
  }

  .bracket_1, .bracket_2 {
    position: relative;
    text-align: left;
    .team {
      margin-left: 5px;
    }
  }

  .bracket_3, .bracket_4 {
    position: relative;
    text-align: right;
    .team {
      margin-right: 5px;
    }
  }

  .first_four {
    > div {
      position: absolute;
      width: 160px;

      &.bracket {
        top: 155px;
        .team {
          margin: 0;
          &.pos_1 {
            margin-top: 12px;
          }
        }
      }

      &.bracket_1 {
        left: 310px;
      }
      &.bracket_2 {
        left: 526px;
      }
      &.bracket_3 {
        left: 912px;
      }
      &.bracket_4 {
        left: 1129px;
      }
    }
  }

  .first_round {
    > div {
      position: absolute;
      width: 202px;
      height: 472px;

      .team {
        margin-top: 11.5px;
      }

      &.bracket_1 {
        top: 200px;
        left: 50px;
      }
      &.bracket_2 {
        top: 675px;
        left: 50px;
      }
      &.bracket_1, &.bracket_2 {
        .team {
          margin-left: 20px;
        }
      }

      &.bracket_3 {
        top: 200px;
        left: 1347px;
      }
      &.bracket_4 {
        top: 675px;
        left: 1347px;
      }
      &.bracket_3, &.bracket_4 {
        .team {
          margin-right: 20px;
        }
      }
    }
  }

  .second_round {
    > div {
      position: absolute;
      width: 120px;
      height: 435px;

      .team {
        &.pos_0 {
          margin-top: 0px;
        }
        &.pos_1, &.pos_3, &.pos_5, &.pos_7 {
          margin-top: 40px;
        }
        &.pos_2, &.pos_4, &.pos_6 {
          margin-top: 42px;
        }
      }

      &.bracket_1 {
        top: 227px;
        left: 252px;
      }
      &.bracket_2 {
        top: 701px;
        left: 252px;
      }
      &.bracket_3 {
        top: 227px;
        left: 1226px;
      }
      &.bracket_4 {
        top: 701px;
        left: 1226px;
      }
    }
  }

  .sweet_sixteen {
    > div {
      position: absolute;
      width: 103px;
      height: 378px;

      .team {
        margin-top: 100px;

        &.pos_0 {
          margin-top: 0px;
        }
      }

      &.bracket_1 {
        top: 257px;
        left: 372px;
      }
      &.bracket_2 {
        top: 731px;
        left: 372px;
      }
      &.bracket_3 {
        top: 257px;
        left: 1123px;
      }
      &.bracket_4 {
        top: 731px;
        left: 1123px;
      }
    }
  }

  .elite_eight {
    > div {
      position: absolute;
      width: 98px;
      height: 260px;

      .team {
        margin-top: 217px;

        &.pos_0 {
          margin-top: 0px;
        }
      }

      &.bracket_1 {
        top: 315px;
        left: 475px;
      }
      &.bracket_2 {
        top: 790px;
        left: 475px;
      }
      &.bracket_3 {
        top: 315px;
        left: 1025px;
      }
      &.bracket_4 {
        top: 790px;
        left: 1025px;
      }
    }
  }

  .final_four {
    > div {
      position: absolute;
      width: 100px;
      height: 26px;

      &.bracket_1 {
        top: 432px;
        left: 573px;
      }
      &.bracket_2 {
        top: 906px;
        left: 573px;
      }
      &.bracket_3 {
        top: 432px;
        left: 925px;
      }
      &.bracket_4 {
        top: 906px;
        left: 925px;
      }
    }
  }

  .championship {
    > div {
      position: absolute;
      width: 130px;
      height: 30px;
      text-align: center;
      font-weight: bold;

      .team {
        height: 23px;
        margin: 0;
        padding-top: 7px;
      }

      &.bracket_1 {
        top: 672px;
        left: 580px;
      }
      &.bracket_2 {
        top: 672px;
        left: 887px;
      }
    }
  }

  .champion {
    > div {
      position: absolute;
      width: 143px;
      height: 44px;
      top: 665px;
      left: 727px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;

      .team {
        height: 38px;
        padding-top: 12px;
        margin: 0;
      }
    }
  }

  .stats {
    position: absolute;
    width: 200px;
    background-color: #ccc;
    height: 67px;
    border-radius: 8px;
    padding: 10px;
    top: 480px;
    left: 690px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;

    > div {
      padding-bottom: 5px;
    }
  }

  .tourney_code {
    position: absolute;
    width: 200px;
    top: 740px;
    left: 690px;
    text-align: center;
    background-color: #ccc;
    border-radius: 8px;
    padding: 10px;

    .code {
      font-weight: bold;
      word-wrap: nowrap;
      user-select: all;
      font-weight: 700;
      font-size: 18px;
    }

    .qr_code {
      margin-top: 10px;
    }
  }
}

.phrase_overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  form {
    position: absolute;
    width: 600px;
    top: 200px;
    left: 800px;
    margin-left: -315px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    text-align: center;

    label {
      display: block;
      font-weight: 700;
      color: #333;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 20px;
      margin-bottom: 10px;
    }

    textarea {
      display: block;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      padding: 5px;
    }

    input[type=submit] {
      display: block;
      width: 260px;
      height: 40px;
      color: #fff;
      background-color: #009;
      border: 1px solid #003;
      margin-left: 170px;
      margin-top: 10px;
      border-radius: 4px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;

      &:hover {
        cursor: pointer;
        background-color: #00c;
        border: 1px solid #009;
      }
    }
  }
}